server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: water-info
  datasource:
    url: jdbc:mysql://localhost:3306/water_info?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jackson:
    time-zone: Asia/Shanghai
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
  cache:
    type: redis

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
  type-handlers-package: com.seecen.waterinfo.config.typehandler

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

jwt:
  secret: change-me-please
  expiration: 86400

management:
  endpoints:
    web:
      exposure:
        include: health,info
